
<div id="signersPerCity-container">
    <img id = "king" src="/public/images/theKing.jpg">

    <h2 id="cityIntro">People from {{city}}  are happy to support this project .<br> Let's figth together to help the rich people.</h2>
</div>
{{#each list}}
<li class = "signers">
    {{this.firstname}} {{this.lastname}}, {{this.age}}
</li>
{{/each}}

<form id="logout" action="/logout" method= "POST">
    <input type= "hidden" name= "_csrf" value="{{csrfToken}}">
     <button id = "logoutButton"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
</form>
